.exclaim .reveal .state-background {
  background: black;
} 

/*
 * For information about CSS syntax, see:
 * http://www.w3schools.com/css/css_syntax.asp
 *
 * A CSS rule set consists of a selector and a declaration block.
 * sel { color:blue; font-size:12px; }
 *
 * The selector defines the element name
 *
 * http://www.w3schools.com/cssref/css_colornames.asp
 
 */

/*
 * id selector for page footer
 * usage: <p id="footer">Hello World!</p>
 */
#slide_footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:120px;   /* Height of the footer */
}

.exclaim .reveal h1,
.exclaim .reveal h2,
.exclaim .reveal p {
  color: white;
}

.reveal section del {
  color: red;
}

table {
    max-width: 95%;
    
    /*
    border: 1px solid;    
    box-shadow: 10px 10px 5px #888888;
    *border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    */
}

th {
    text-align: right;
    width: 200px;
}


tr:nth-child(even) {
    background-color: WhiteSmoke;
}

td {
    width: 200px;
    /*border: 1px solid #ccc;*/
    padding: 5px; /* space between content and border */
}
