useDynLib(semantic)
import(methods)
importFrom(utils,head)
importFrom(utils,tail)
importFrom(RCurl, basicTextGatherer)
importFrom(RCurl, curlPerform)
importFrom(RCurl, parseHTTPHeader)
importFrom(XML, xmlParse)
importFrom(XML, htmlParse)
export(
	"blankNodes",
        "iriTerm",
	"langTag",
	"parse_data_types",
	"sparql",
        "queryForm",
	"queryVariable",
	"split_prefix",
        "rdfData"
)
exportMethods(
    "groupPattern",
    "prefixedTerm",
    "rdfTerm",
    "rdfTriple",
    "sparqlNamespace",
    "sparqlQuery",
    "typedLiteral",
    "addPrefix",
    "addRdf",
    "[",
    "c",
    "coerce",
    "endpoint<-",
    "endpoint",
    "getNodes",
    "getUrl",
    "initialize",
    "length",
    "prefix",
    "qryText",
    "rdfGraph",
    "resultDef",
    "sendQuery",
    "setRdf",
    "show",
    "term"
)
exportClasses(
    "BasicGroupPattern",
     "BlankNodes",
     "GroupPattern",
     "IriTerm",
     "PrefixedTerm",
     "QueryForm",
     "QueryVariable",
     "RdfData",
     "RdfGraph",
     "RdfTerm",
     "RdfTriple",
     "ResultDef",
     "ResultSet",
     "Sparql",
     "SparqlNamespace",
     "SparqlQuery" 
)
